body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(to left bottom, #d16ba5, #9d5c93, #6d4b7a, #44395c, #24263a, #242d40, #243446, #263b4a, #31667b, #3795a9, #41c7d1, #5ffbf1);

  
}

textarea {
  background-color: rgb(129, 235, 129);
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

button#remove {
  margin-top: 10px;
}
/* class of h1 */
.display-3 {
  color: #a4e4f0;
}
/* class of p */
.lead {
  color: #41c7d1;
}
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;

  border-radius: 15px;
}
 /* Time Block Elements */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(184, 155, 180);
  color: #000000;
  border-top: 1px dashed #000000;
  font-weight: bold;
  text-align: right;
}
/* coding for event blocks */

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  color: rgb(30,30,30);
  transition: all 0.3s ease-in-out;
}
.saveBtn:focus {
  outline:none;
}

